services:
  ratelimiterapi:        # <-- lowercase
    build: ./backend
    container_name: ratelimiterapi   # <-- lowercase recommended
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    restart: always
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redisforratelimiter
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always
    networks:
      - backend

volumes:
  redis-data:

networks:
  backend:
    driver: bridge
